# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Local environment files
.env
.env.local
.env.*.local

# Temporary files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
*.swp
*~
Thumbs.db

# IDE
.idea/
.vscode/
*.sublime-workspace

# Build files
*.apk
*.ipa
*.aab

# Misc
.cache/
.parcel-cache/